@using Microsoft.AspNetCore.Identity
@using ChatApp.BL.Domain
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a class="font-bold hover:underline" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="focus:shadow-outline ml-3 transform rounded-full bg-gradient-to-r from-pink-700 to-purple-700 px-4 font-bold shadow-lg transition duration-100 ease-in-out hover:scale-105 focus:outline-none">Logout</button>
    </form>
}
else
{
    <button class="font-bold hover:underline" asp-area="Identity" asp-page="/Account/Register">
        Register
    </button>
    <button asp-area="Identity" asp-page="/Account/Login" class="focus:shadow-outline ml-3 transform rounded-full bg-gradient-to-r from-pink-700 to-purple-700 px-4 font-bold shadow-lg transition duration-100 ease-in-out hover:scale-105 focus:outline-none">
        Sign In
    </button>
}